.navbar_container{
    width: 100%;
    background: rgb(110, 159, 173);
}
.navbar{
    display: flex;
    width: 100%;
    height: 100%;
   
}
.navbar_link{
display: flex;
flex-direction: row;
padding-left: 25px;
align-items: center;
color: black;
font-size: 22px;
width: 100%;
text-decoration: none;


}
.navbar_link:hover{
    text-decoration: underline;
}